body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:orangered;
    color: rgb(255, 217, 0);
    font-family: Arial, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 4px white;
}
